In [60]:
import pandas as pd

frames = []

In [61]:
for i in range(1997, 2021):
    df = pd.read_csv(f"../../data/raw/offensive stats/passing{i}.csv")
    df["Year"] = i
    frames.append()

TypeError: append() takes exactly one argument (0 given)

In [57]:
output = pd.concat(frames)

c:\users\alex3\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [55]:
output.assign(
    Team = lambda dataframe: dataframe['Team'].map(lambda team: team if team != "Football Team" else "Redskins") 
).reset_index()

,index,1st,1st%,20+,40+,Att,Cmp,Cmp %,INT,Lng,Pass Yds,Rate,Sck,SckY,TD,Team,Yds/Att,Year
0,0,167.0,38.7,47,4,432,278,64.4,11.0,82,3432,93.6,44,289.0,20,49ers,7.9,NaN
1,1,188.0,31.6,28,6,595,336,56.5,22.0,78T,3501,66.1,43,257.0,14,Bears,5.9,NaN
2,2,171.0,33.9,40,8,504,302,59.9,9.0,77T,3603,88.3,46,287.0,21,Bengals,7.1,NaN
3,3,144.0,26.4,37,9,546,293,53.7,25.0,77T,3213,60.8,46,338.0,14,Bills,5.9,NaN
4,4,172.0,33.5,53,10,513,287,55.9,11.0,78,3704,87.4,35,210.0,27,Broncos,7.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1491,27,216.0,38.4,45,11,563,388,68.9,13.0,62,4245,105.0,48,304.0,40,Seahawks,7.5,2020.0
1492,28,206.0,31.4,48,7,656,428,65.2,11.0,84T,4129,93.5,14,126.0,35,Steelers,6.3,2020.0
1493,29,222.0,40.7,70,11,546,383,70.1,7.0,77T,4843,112.3,50,305.0,33,Texans,8.9,2020.0
1494,30,203.0,41.9,44,13,485,316,65.2,7.0,75T,3826,105.9,25,173.0,33,Titans,7.9,2020.0
1495,31,212.0,41.1,58,7,516,349,67.6,13.0,71T,4265,105.0,39,256.0,35,Vikings,8.3,2020.0

In [48]:
for col in output.columns:
    output[col] = output[col].map(lambda c: c.replace("T", "") if isinstance(c, str) else c ) # remove touchdown indicator

In [49]:
output.columns

Index(['Team', 'Att', 'Cmp', 'Cmp %', 'Yds/Att', 'Pass Yds', 'TD', 'INT',
       'Rate', '1st', '1st%', '20+', '40+', 'Lng', 'Sck', 'SckY'],
      dtype='object')

In [50]:
output.head()

,Team,Att,Cmp,Cmp %,Yds/Att,Pass Yds,TD,INT,Rate,1st,1st%,20+,40+,Lng,Sck,SckY
0,49ers,432,278,64.4,7.9,3432,20,11.0,93.6,167.0,38.7,47,4,82,44,289.0
1,Bears,595,336,56.5,5.9,3501,14,22.0,66.1,188.0,31.6,28,6,78,43,257.0
2,Bengals,504,302,59.9,7.1,3603,21,9.0,88.3,171.0,33.9,40,8,77,46,287.0
3,Bills,546,293,53.7,5.9,3213,14,25.0,60.8,144.0,26.4,37,9,77,46,338.0
4,Broncos,513,287,55.9,7.2,3704,27,11.0,87.4,172.0,33.5,53,10,78,35,210.0

In [51]:
for col in output.columns[2:]:
    print(col)
    output[col] = pd.to_numeric(output[col])

Cmp
Cmp %
Yds/Att
Pass Yds
TD
INT
Rate
1st
1st%
20+
40+
Lng
Sck
SckY

In [52]:
output.to_csv("../../data/raw/offensive stats/passing.csv")