In [72]:
import pandas as pd

frames = []

In [73]:
for i in range(1997, 2021):
    df = pd.read_csv(f"../../data/raw/offensive stats/passing{i}.csv")
    df["Year"] = i
    frames.append(df)

In [74]:
output = pd.concat(frames)

In [75]:
output.assign(
    Team = lambda dataframe: dataframe['Team'].map(lambda team: team if team != "Football Team" else "Redskins") 
).reset_index()

,index,Team,Att,Cmp,Cmp %,Yds/Att,Pass Yds,TD,INT,Rate,1st,1st%,20+,40+,Lng,Sck,SckY,Year
0,0,49ers,432,278,64.4,7.9,3432,20,11.0,93.6,167.0,38.7,47,4,82,44,289.0,1997
1,1,Bears,595,336,56.5,5.9,3501,14,22.0,66.1,188.0,31.6,28,6,78T,43,257.0,1997
2,2,Bengals,504,302,59.9,7.1,3603,21,9.0,88.3,171.0,33.9,40,8,77T,46,287.0,1997
3,3,Bills,546,293,53.7,5.9,3213,14,25.0,60.8,144.0,26.4,37,9,77T,46,338.0,1997
4,4,Broncos,513,287,55.9,7.2,3704,27,11.0,87.4,172.0,33.5,53,10,78,35,210.0,1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,27,Seahawks,563,388,68.9,7.5,4245,40,13.0,105.0,216.0,38.4,45,11,62,48,304.0,2020
744,28,Steelers,656,428,65.2,6.3,4129,35,11.0,93.5,206.0,31.4,48,7,84T,14,126.0,2020
745,29,Texans,546,383,70.1,8.9,4843,33,7.0,112.3,222.0,40.7,70,11,77T,50,305.0,2020
746,30,Titans,485,316,65.2,7.9,3826,33,7.0,105.9,203.0,41.9,44,13,75T,25,173.0,2020
747,31,Vikings,516,349,67.6,8.3,4265,35,13.0,105.0,212.0,41.1,58,7,71T,39,256.0,2020

In [76]:
for col in output.columns[2:]:
    output[col] = output[col].map(lambda c: c.replace("T", "") if isinstance(c, str) else c ) # remove touchdown indicator

In [77]:
output.columns

Index(['Team', 'Att', 'Cmp', 'Cmp %', 'Yds/Att', 'Pass Yds', 'TD', 'INT',
       'Rate', '1st', '1st%', '20+', '40+', 'Lng', 'Sck', 'SckY', 'Year'],
      dtype='object')

In [78]:
output.tail()

,Team,Att,Cmp,Cmp %,Yds/Att,Pass Yds,TD,INT,Rate,1st,1st%,20+,40+,Lng,Sck,SckY,Year
27,Seahawks,563,388,68.9,7.5,4245,40,13.0,105.0,216.0,38.4,45,11,62,48,304.0,2020
28,Steelers,656,428,65.2,6.3,4129,35,11.0,93.5,206.0,31.4,48,7,84,14,126.0,2020
29,Texans,546,383,70.1,8.9,4843,33,7.0,112.3,222.0,40.7,70,11,77,50,305.0,2020
30,Titans,485,316,65.2,7.9,3826,33,7.0,105.9,203.0,41.9,44,13,75,25,173.0,2020
31,Vikings,516,349,67.6,8.3,4265,35,13.0,105.0,212.0,41.1,58,7,71,39,256.0,2020

In [79]:
for col in output.columns[2:]:
    print(col)
    output[col] = pd.to_numeric(output[col])

Cmp
Cmp %
Yds/Att
Pass Yds
TD
INT
Rate
1st
1st%
20+
40+
Lng
Sck
SckY
Year

In [80]:
output.to_csv("../../data/raw/offensive stats/passing.csv")